.Card {
    display: inline-block;
    background: #9bb3c2;
    border-radius: 4px;
    padding: 25px;
    box-sizing: border-box;
    margin: 5px;
}

.Card-image {
    display: none;
    width: 100%;
}

.Card-image.show {
    display: unset;
}
